* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg1: #141414;
    --bg2: #1C1C1C;
    --font1: #fff;
  }


body {
    background-color: var(--bg1);
    margin: 20px;

    font-family: "Inter", sans-serif;
    font-style: normal;
    color: var(--font1);
}

section {
    margin-bottom: 50px ;
}

h1{
    font-size: 40px;
}


.heading-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}


#sys-info {
    display: flex;    
    min-height: 700px;
}




.component-info {
    display: flex;
    width: 240px;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: var(--bg2);
    padding: 10px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    border: var(--bg1) solid 3px;
    
}











.component-info:hover {
    cursor: pointer;
}


.circular-progress {
    position: relative;
    height: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: red;
    background: conic-gradient(#7d2ae8 3.6deg, #ededed 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 65px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--bg1);
}

.progress-value {
    position: relative;
    font-size: 20px;
}



#graphWrap {
    width: 70%;
}




#graphWrap button {
    all: unset;
    font-size: 24px;
    margin-left: 35px;
    cursor: pointer;
    color: #414141;
}

#graphWrap button:focus {
    outline: revert;
}









#login{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

#login form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   


#login h1{
    margin: 50px;
}
